/* You can add global styles to this file, and also import other style files */

body {
    height: 100%;
    width: 100%;
    background-color: #07CDCC;
    background-image: linear-gradient(to bottom right, greenyellow, #07CDCC);
    background-repeat: no-repeat;
}